# registry=https://registry.npmjs.org/

# Enable pnpm workspace
link-workspace-packages=true
shared-workspace-lockfile=true

enable-pre-post-scripts=true
strict-peer-dependencies=false
save-exact = true
