# @quickjobs:registry=https://npm.pkg.bitbucket.org/
# always-auth=true
# //npm.pkg.bitbucket.org/:_authToken=ATBBS2rQcXzdamfXHJ2EdW5tzkA965E55EBA

# registry=https://registry.npmjs.org/

# //bitbucket.org/:username=viktor_nemcok
# //bitbucket.org/:_password=ATBBS2rQcXzdamfXHJ2EdW5tzkA965E55EBA
# //bitbucket.org/:email=viktor.nemcok@quickjobs.com
enable-pre-post-scripts=true
strict-peer-dependencies=false
save-exact = true